{% extends "grammarly/base.html" %}
{% load static %}
{% block content %}
<div class="image-container"></div>
<form action="get_grammar_check/" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
        <div class="form-group input-container">
            <input class="form-control" id="your_text" name="your_text" placeholder="متن مورد نظر خود را وارد کنید"
                autofocus required></input>
            <span id="suggestion"></span>
        </div>
    </div>
    <button id="to-hide" type="submit" class="btn submit-btn mt-5">بررسی</button>
</form>

{% endblock %}